<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Android</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">BingoCode</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"><i class="material-icons">search</i></a></li>
        <li><a href="#">Android</a></li>
         <li><a href="#">IOS</a></li>
          <li><a href="#">前端</a></li>
           <li><a href="#">小短片</a></li>
     	    <li><a href="#">关于</a></li>
             <li><a class="waves-effect waves-light btn">登录</a></li>
      </ul>
   

      <ul id="nav-mobile" class="side-nav">
       <li><a href="#">Android</a></li>
         <li><a href="#">IOS</a></li>
          <li><a href="#">前端</a></li>
           <li><a href="#">小短片</a></li>
     	    <li><a href="#">关于</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>    
    
  </nav>
  </div>
  
  <!--content-->
    <div class="container  teal lighten-5">
    <div class="section ">
    
    <h4 class="center-align">Android</h4>

      <div class="row">
        <div class="col s6 offset-s3">
          <div class="card small">
            <div class="card-image">
              <img src="images/1.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>我是一个很简单的卡片。我很擅长于包含少量的信息。我很方便，因为我只需要一个小标记就可以有效地使用。</p>
            </div>
            <div class="card-action">
              <a href="#">这是一个链接</a>
            </div>
          </div>
        </div>
      </div>
         
      <div class="row">
        <div class="col s6 offset-s3">
          <div class="card small">
            <div class="card-image">
              <img src="images/1.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>我是一个很简单的卡片。我很擅长于包含少量的信息。我很方便，因为我只需要一个小标记就可以有效地使用。</p>
            </div>
            <div class="card-action">
              <a href="#">这是一个链接</a>
            </div>
          </div>
        </div>
      </div>
      
      
      <div class="row">
        <div class="col s6 offset-s3">
          <div class="card small">
            <div class="card-image">
              <img src="images/1.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>我是一个很简单的卡片。我很擅长于包含少量的信息。我很方便，因为我只需要一个小标记就可以有效地使用。</p>
            </div>
            <div class="card-action">
              <a href="#">这是一个链接</a>
            </div>
          </div>
        </div>
      </div>

    
    </div>
    </div>
    




  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
    <script src="js/myinit.js"></script>

  </body>
</html>

